extends layout

block content
  .page#p1
    a.smooth#first
    h1= title
    p Welcome to #{title}

  .page#p2
    a.smooth#second
    h1= title
    p Welcome to #{title}

  .page#p3
    a.smooth#third
    h1= title
    p Welcome to #{title}

